# Configuración general del programa
Ice.ProgramName=Worker
Ice.ThreadPool.Server.Size=1
Ice.ThreadPool.Server.SizeMax=10

# Configuración del Localizador (si estás utilizando un Localizador de Ice)
Ice.Default.Locator=Master/Locator:tcp -p 5000 -h 192.168.212.66

# Protocolo por defecto
Ice.Default.Protocol=tcp

# Configuración del adaptador WorkerAdapter
WorkerAdapter.Endpoints=tcp -h 0.0.0.0 -p 10001
